:root {
  --header-background:#F6F6F7;
  --font-dark:#222222;
  --font-light:#888888;
  --border-dark:#222222;
  --border-light:#CCCCCC;
  --required-star:#C90000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

.cart-icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

header{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background);
}

header img {
  width: 4rem;
  padding: 1rem;
}

.icon-cart{
  position: relative;
  cursor: pointer;
  padding-right: 2rem;
}

/* .icon-cart span{
    position: absolute;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.item {
  display: grid;
  grid-template-columns: 65% 1fr;
  justify-content: center;
  text-align: left;
  margin-top: 1rem;
  height: 40%;
}

.title{
  font-size: 1rem;
  padding-top: 1rem;
}
.listProduct .item img{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  height: 60%;
}

.listProduct .item img:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.listProduct .item{
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.listProduct .item h2{
  font-weight: 500;
  font-size: large;
  margin-bottom: 1rem;
}

.listProduct .item .price{
  grid-column: 2;
}
.listProduct .item p{
  grid-column: 2;
  color: var(--font-light);
  font-size: 0.925rem;
  max-width: 75%;
  margin-bottom: 1rem;
}

.listProduct .item button{
  grid-column: 2;
  font-size: 1.125rem;
  padding: 6px 18px;
  border: 0.5px solid var(--border-dark);
  background-color: white;
  outline: none;
  cursor: pointer;
  width: 30%;
}
.listProduct .item button:hover{
  background-color: var(--border-dark);
  color: white;
  transition-duration: 0.4s;
}



/* Shopping Cart */
.cartTab{
  width: 400px;
  height: 80%;
  background-color: white;
  color: var(--font-dark);
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
  border: 1px solid var(--border-dark);
}
body.showCart .cartTab{
  right: 0;
}
body.showCart .container{
  transform: translateX(-250px);
}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
  background-color: var(--font-light);
  border: none;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
  border-top: 1px solid var(--border-dark);
}
.cartTab .close{
  background-color: #eee;
}
.listCart .item img{
  width: 100%;
}
.listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: var(--font-dark);
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: var(--font-dark);
  cursor: auto;
}
.listCart .item:nth-child(even){
  background-color: var(--font-dark);
}
.listCart{
  overflow: auto;
}
.listCart::-webkit-scrollbar{
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct{
      grid-template-columns: repeat(3, 1fr);
  }
}


/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct{
      grid-template-columns: repeat(2, 1fr);
  }
}

/* Footer */
.footer {
  display: flex;
  background-color: var(--header-background);
  font-size: 14px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 10px;
}

.footer-title {
  font-size: 1rem;
  padding-bottom: 0.8rem;
}

.footer img {
  width: 50%;
}

