:root {
  --header-background: #f6f6f7;
  --font-dark: #222222;
  --font-light: #888888;
  --border-dark: #222222;
  --border-light: #cccccc;
  --required-star: #c90000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: sans-serif;
}

a {
  cursor: pointer;
}

/* Navbar */

.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-background);
}

.navbar img {
  width: 4rem;
  padding: 1rem;
}

.cart-icon {
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

#cartCounter {
  background-color: red;
  color: white;
  font-size: 20px; /* Font size */
  padding: 4px 10px; /* Padding */
  border-radius: 50%; /* Circular shape */
  font-family: sans-serif;
}



/* Style for the modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: grid;
  grid-template-rows: 1fr 3fr 100px;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid black;
  width: 20%;
  position: fixed;
  right: 0;
  top: 0;
  height: 80%;
  overflow-y: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 30px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

.remove-btn-container {
  text-align: center;
  margin-top: 20px;
  padding: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-details {
  display: flex;
  align-items: center;
}

.remove-item-btn {
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #555;
  font-size: 18px;
}

.modal-content img {
  height: 10rem;
  max-height: 100%;
}

.close,
.check-out {
  color: var(--font-dark);
  background-color: white;
}

.close:hover,
.check-out:hover {
  background-color: var(--border-dark);
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

ol li{
  margin-top: 10px;
  font-size: 14px;
}

ol li button{
  margin-left: 10px;
  
}

/* Product Section*/
.product-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: left;
  margin-top: 5rem;
  height: 40%;
}

.product-section img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
  align-items: right;
  justify-content: center;
  height: 60%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 0.1px solid var(--border-light);
}

.product-section img:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.product-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 45%;
}

.pname {
  font-size: 22px;
}

.price {
  font-size: 1.125rem;
  margin: 15px 0;
  font-weight: 600;
}

.product-description {
  color: var(--font-light);
  font-size: 0.925rem;
  max-width: 75%;
  margin-bottom: 1rem;
}

.size-section {
  display: inline-flex;
  padding: 0.5rem 0;
}

.size-btn {
  border: 0.1px solid var(--border-light);
  color: var(--font-light);
  padding: 0.6rem 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.size-btn {
  outline: none;
  cursor: pointer;
}

.btn-box {
  display: flex;
}

.btn-box button {
  font-size: 1.125rem;
  padding: 6px 18px;
  border: 0.5px solid var(--border-dark);
  outline: none;
  cursor: pointer;
}

.cart-btn,
.buy-btn {
  margin-right: 20px;
  color: var(--font-dark);
  background-color: white;
}

.cart-btn:hover,
.buy-btn:hover {
  background-color: var(--border-dark);
  color: white;
  transition-duration: 0.4s;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .product-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .product-image,
  .product-description {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Footer */
.footer {
  display: flex;
  background-color: var(--header-background);
  font-size: 14px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 10px;
}

.footer-title {
  font-size: 1rem;
  padding-bottom: 0.8rem;
}

.footer img {
  width: 50%;
}

